.important_update_card_wrapper_ImportantUpdatesCard {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.important_update_card_image_ImportantUpdatesCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.important_update_card_image_ImportantUpdatesCard img {
  height: 120px;
}

.important_update_card_info_column_ImportantUpdatesCard {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.card_info_mini_header {
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  color: rgba(48, 59, 91, 0.5);
}

.card_info_client_name {
  font-weight: bold;
  font-size: 18px;
  color: #303b5b;
  margin-block-start: 0;
  margin-block-end: 0;
}

.card_info_completed_test {
  font-size: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
}
