.main_white_board_general_info {
  background-color: #eff2f9;
  padding: 10px;
}

.main_title_header {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #303b5b;
}

.card_list {
  display: flex;
}
